
<h1> "Contact Us"</h1>
<form class="" action="/" method="post">
<label class="email" for="email">Your Email :</label>
<input class="emailtxt" type="text" name="email" value="">
<label for=""></label>
 <br>
<br>
