<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>
<body>

  <section class="slideshow">
          <div class="slideshow-container slide">
            <img class="SS" src="https://compass-ssl.xbox.com/assets/6a/4f/6a4f3431-a49e-4f3c-b8d0-0434d2a68d75.jpg?n=CODWWII_Feature-Center-1084_Digital-Deluxe-Edition_1600x600_02.jpg" alt="">
            <img class="SS" src="https://www.dualshockers.com/wp-content/uploads/2017/06/sixteenNine.img_.png" alt="">
            <img class="SS" src="https://www.bleedingcool.com/wp-content/uploads/2017/02/League-of-Legends.png" alt="">
            <img class="SS" src="https://www.google.com/search?q=destiny+2+pics&rlz=1C1CHBF_enUS749US749&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjEzt_Q67TXAhUH0IMKHQijCQwQ_AUICygC&biw=1280&bih=541#imgrc=UhrAi4lI8ybp_M:" alt="">
          </div>
        </section>


</body>
</html>
