
 <style>
  .mySlides {display:none;}

  </style>

  <title>Document</title>
</head>
<body>

  <section class="slideshow">
          <div class="slideshow-container slide">
            <img class="SS" src="https://compass-ssl.xbox.com/assets/6a/4f/6a4f3431-a49e-4f3c-b8d0-0434d2a68d75.jpg?n=CODWWII_Feature-Center-1084_Digital-Deluxe-Edition_1600x600_02.jpg" alt="">
            <img class="SS" src="https://www.dualshockers.com/wp-content/uploads/2017/06/sixteenNine.img_.png" alt="">
            <img class="SS" src="https://www.bleedingcool.com/wp-content/uploads/2017/02/League-of-Legends.png" alt="">
            <img class="SS" src="https://cdn.wccftech.com/wp-content/uploads/2017/04/destiny2_art.jpg" alt="">
            <img class="SS" src="http://firaxis.com/images/page_titles/pic-title-civ5.jpg" alt="">
            <img class="SS" src="https://msgpwebcdn.azureedge.net/aoe/wp-content/uploads/2017/08/AOEDE_KeyArt_Horiz_RGB_Final1920x1080smallerfile.jpg" alt="">
          </div>
  </section>

  <div class="wrapper">
    <div class="hb">Latest Posts</div>
    <!-- <% @comments.all.each.with_index do |c, i| %>
          <% if (i < 10) %>
            <div class="box"><%= c.comment %></div>
          <% end %>

     <% end %> -->
    </div>
