<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">



  <style>
  .mySlides {display:none;}
  </style>

  <title>Document</title>
</head>
<body>

  <section class="slideshow">
          <div class="slideshow-container slide">
            <img class="SS" src="https://compass-ssl.xbox.com/assets/6a/4f/6a4f3431-a49e-4f3c-b8d0-0434d2a68d75.jpg?n=CODWWII_Feature-Center-1084_Digital-Deluxe-Edition_1600x600_02.jpg" alt="">
            <img class="SS" src="https://www.dualshockers.com/wp-content/uploads/2017/06/sixteenNine.img_.png" alt="">
            <img class="SS" src="https://www.bleedingcool.com/wp-content/uploads/2017/02/League-of-Legends.png" alt="">
            <img class="SS" src="https://cdn.wccftech.com/wp-content/uploads/2017/04/destiny2_art.jpg" alt="">
            <img class="SS" src="http://firaxis.com/images/page_titles/pic-title-civ5.jpg" alt="">
            <img class="SS" src="https://msgpwebcdn.azureedge.net/aoe/wp-content/uploads/2017/08/AOEDE_KeyArt_Horiz_RGB_Final1920x1080smallerfile.jpg" alt="">

          </div>
        </section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="wrapper">
    <div class="box header">Latest Posts</div>
    <div class="box a">A</div>
    <div class="box b">B</div>
    <div class="box c">C</div>
    <div class="box d">D</div>
    <div class="box e">E</div>
    <div class="box f">F</div>
    <div class="box f">G</div>
    <div class="box f">H</div>
    <div class="box f">I</div>
    <div class="box f">J</div>
  </div>


</body>

</html>
