<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>
<body>
<br>
  <section class="slideshow">
          <div class="slideshow-container slide">
            <img class="SS" src="https://compass-ssl.xbox.com/assets/6a/4f/6a4f3431-a49e-4f3c-b8d0-0434d2a68d75.jpg?n=CODWWII_Feature-Center-1084_Digital-Deluxe-Edition_1600x600_02.jpg" alt="">
            <img class="SS" src="https://www.dualshockers.com/wp-content/uploads/2017/06/sixteenNine.img_.png" alt="">
            <img class="SS" src="https://www.bleedingcool.com/wp-content/uploads/2017/02/League-of-Legends.png" alt="">
            <img class="SS" src="https://www.dualshockers.com/wp-content/uploads/2017/07/Destiny-2.png" alt="">
            <img class="SS" src="https://i.ytimg.com/vi/1bOBjZMJ2l8/maxresdefault.jpg" alt="">
            <img class="SS" src="https://msgpwebcdn.azureedge.net/aoe/wp-content/uploads/2017/05/AOEDE_KeyArt_Horiz_RGB_Final.jpg" alt="">
          </div>
        </section>

<p> <%= :comments %></p>
</body>
</html>
