<h1>Gamers Talk Bravo!</h1>

<section class="slideshow">
        <div class="slideshow-container slide">
          <img id="SL" src="../public/img/bf2.png"/>
          <img id="SL" src="../public/img/cod.jpg" alt="">
          <img id="SL" src="../public/img/destiny.jpg" alt="">
          <img id="SL" src="../public/img/Lol.jpg" alt="">
        </div>
      </section>
