<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <header>
      <nav>
        <button> <a href="/">Home</a></button>
        <button> <a href="/pageContent">Page Content</a></button>
        <button> <a href="/contact">Contact</a></button>
        <button> <a href="/signUp">Sign Up</a></button>
        <button> <a href="/login">Login</a></button>
      </nav>
      <a href="/logout">Logout</a>
    </header>

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
