* {
  box-sizing: border-box;
}
/* image slide show */
.slideshow {
  float: right;
  display: block;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border: 6px solid red;

}

.slideshow-container {
  width: 3200px;
  font-size: 0;
  height: 300px;
}


.SS {
  width: 800px;
  height: 500px;
}
