* {
  box-sizing: border-box;
}
/* image slide show */
.slideshow {
  float: left;
  display: block;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border: 6px solid #3D5A6C;

}

.slideshow-container {
  width: 3200px;
  font-size: 0;
  transition: 1s ease;
  height: 425px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

#SL {
  width: 800px;
  height: auto;
}

.slide {
  animation: slide 24s ease infinite;
}
