* {
  box-sizing: border-box;
}
body {
  margin: 20px;
  background-image: url("../img/Gamers Talk Bravo!.jpg");
 background-repeat: no-repeat;
 background-color: black;
background-position: center top;
background-size: 1250px 1050px;
}
/* image slide show */
.slideshow {
  float: right;
  display: block;
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border: 6px solid #ffbd4a;

}

.slideshow-container {
  width: 600px;
  font-size: 0;
  height: 20px;
}


.SS {
  width: 1200px;
  height: 450px;
}

/* css grid */
body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-areas:
  " header header header header header";


  grid-gap: 20px;
  background-color: black;
  color: #444;
  justify-content: center;
}

.box {
  background-color: #ffbd4a;
  color: black;
  border-radius: 15px;
  padding: 100px;
  font-size: 150%;
}

.header {
       grid-area: header;
       grid-template-columns: 50px;
       background-color: #ffbd4a;
       font-size: 300%;
      text-align: center;
      height: 50px;
      color: black;

 }

 @media screen and (max-width: 992px) {
 .btn {
   background-color: green;
 }
}

 @media screen and (max-width: 768px) {
   .btn {
     background-color: purple;
   }
 }

@media screen and (max-width: 480px) {
 .btn {
   background-color: red;
 }
}
