<h1>Profile Page</h1>
<div class="containImg">
<img class="meImg" src="https://static.pexels.com/photos/91227/pexels-photo-91227.jpeg" id="photo" width="150" height="150">
<div class="info">
  <p>Username: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum nisi. Sed in consequat mi.</p>
</div>
</div>

<div class="commP">
  <p>Hi everyone!!!!!</p>
  
</div>
