<h1>Sign Up</h1>

<form action="/signUp" method="post">
  <label>First Name</label>
  <input type="text" name="f_name"> <br />
  <label>Last Name</label>
  <input type="text" name="l_name"> <br />
  <label>Username</label>
  <input type="text" name="u_name"> <br />
  <label>Email</label>
  <input type="text" name="email"> <br />
  <input type="submit" value="Create">
</form>
